<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}ChatApp</title>
        <script src="https://cdn.tailwindess.com"></script>
        
    </head>

    <body style="background-color: #008080;">
        <nav style="display: flex; align-items: center; justify-content: space-between; padding: 1rem 2rem; background-color: #006666;">
            <div>
                <a style="font-size: 1.5rem; color: white;">Chat App</a>
            </div>
            <div>
                {% if request.user.is_authenticated %}
                <a href="/rooms/" style="font-size: 1.5rem; color: white; text-decoration: none; transition: color 0.3s ease-in-out;"
                onmouseover="this.style.color='#b3b3b3';" onmouseout="this.style.color='white';">
                    Rooms
                </a>   
                <a href="/logout/" style="font-size: 1.5rem; text-decoration: none;">
                    <span style="padding: 0.75rem 1.25rem; border-radius: 0.75rem; background-color: #008080; color: white; transition: background-color 0.3s ease-in-out;"
                          onmouseover="this.style.backgroundColor='#006666';"
                          onmouseout="this.style.backgroundColor='#008080';">
                          Log Out
                    </span>
                </a>
                {% else %}
                <a href="/login/" style="font-size: 1.5rem; color: white; text-decoration: none; transition: color 0.3s ease-in-out;"
                onmouseover="this.style.color='#b3b3b3';" onmouseout="this.style.color='white';">
                    Log In
                </a>
                <a href="/signup/" style="font-size: 1.5rem; text-decoration: none;">
                    <span style="padding: 0.75rem 1.25rem; border-radius: 0.75rem; background-color: #008080; color: white; transition: background-color 0.3s ease-in-out;"
                          onmouseover="this.style.backgroundColor='#006666';"
                          onmouseout="this.style.backgroundColor='#008080';">
                          Sign Up
                    </span>
                </a>
                
                {% endif %}
            </div>
            
        </nav>
        
        {% block content %}
        {% endblock %}
    </body>
</html>