{% extends 'core/base.html' %}
{% block title %}Log In | {% endblock %}
{% block content %}
<div style="padding: 2.5rem; text-align: center;">
    <h1 style="font-size: 1.875rem; line-height: 2.25rem; color: white;">
        Log In
    </h1>
</div>
<form method="post" action="." style="width: 25%; padding-left: 1.5rem; padding-right: 1.5rem; margin-left: auto; margin-right: auto; ">
    {% csrf_token %}
    <div style="margin-bottom: 1.25rem; ">
        <label style="color: white;">Username</label>
    
        <input type="text" name="username" style="width: 100%;
                                                  margin-top: 0.5rem; 
                                                  padding-left: 1rem; 
                                                  padding-right: 1rem; 
                                                  padding-top: 0.5rem; 
                                                  padding-bottom: 0.5rem; 
                                                  border-radius: 0.75rem;">
    </div>
    
    <div style="margin-bottom: 1.25rem;">
        <label style="color: white;">Password</label>
    
        <input type="password" name="password" style="width: 100%;
                                                        margin-top: 0.5rem; 
                                                        padding-left: 1rem; 
                                                        padding-right: 1rem; 
                                                        padding-top: 0.5rem; 
                                                        padding-bottom: 0.5rem; 
                                                        border-radius: 0.75rem;">
    </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                    <div style="margin-bottom: 1.25rem;
                                padding: 1rem; 
                                border-radius: 0.75rem; 
                                background-color: #fc8181; 
                                color: white;">
                            <p>{{ error|escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <button style= "padding-left: 1.25rem;
                        padding-right: 1.25rem;  
                        padding-top: 0.75rem;  
                        padding-bottom: 0.75rem;  
                        border-radius: 0.75rem; 
                        color: white;  
                        background-color: #2c7a7b;  
                        transition: background-color 0.3s ease; 
                        &:hover { background-color: #234e4f; }">
            Log In
        </button>                
</form>
{% endblock %}